node_modules/*
logs/*
.node-persist/*
package-lock.json
config/config_prod.js
config/config_preprod.js
config/config_test.js
config/config_utvikling.js
package-lock.json
errorstorage/*
.npmrc
.env
Dockerfile
docker-compose.yaml
deploy.bat
coverage/*
.nyc_output/*
icap/tt.1.txt
